.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.errorCode {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.errorMessage {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.homeLink {
    font-size: 1.2rem;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
