.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.tabContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tabButton {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0e0e0;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.tabButton:hover {
    background-color: #d0d0d0;
}

.activeTab {
    background-color: #007bff;
    color: white;
}

.inputGroup {
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #0056b3;
}

.message {
    color: green;
    margin-top: 20px;
}

.errorText {
    color: red;
    margin-top: 20px;
}
