.headerMenu {
    width: 100%;
    max-width: 1920px;
    height: 5.69rem;
    flex-shrink: 0;
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.32px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 224px;
    margin-left: 109px;
}

.headerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 72px;
    padding: 0 20px;
    color: #333;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0 10px;
}

.headerLinkA {
    color: #757575;
    text-decoration: none;
    font-size: 16px;
}

.headerLinkA:hover {
    font-weight: 700;
    color: #000000;
}

.headerLinkLogin {
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 10px 20px;
    color: #555;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    z-index: 1;
    letter-spacing: -0.32px;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
}

.headerLinkLogin img {
    margin-left: 10px;
}

.headerLinkLogin:hover {
    font-weight: 700;
    color: #000000;
}

.active {
    font-weight: 700;
    color: #000000;
}
