.main {
    width:auto;
    max-width: 1920px;
    flex-shrink: 0;
    border-bottom: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    backdrop-filter: blur(2px);
    flex-direction: column;
}
.header {
    height: 91px;
    flex-shrink: 0;
    border-bottom: 1px solid #C4C4C4;
    background: #FFFFFF;
    backdrop-filter: blur(2px);
}

.header_left {
    float: left;
}

.section {
    flex: 1;
    display: flex;
}

.content {
    width:auto;
    max-width: 1920px;
    height: 1336px;
}

.footer {
    width:auto;
    max-width: 1920px;
    height: 324px;
    flex-shrink: 0;
    background: #363636;
}

.logoImg, .email,.github,.copyright {
    margin-left:202px;
    color: #FFF;
    font-family: Noto Sans KR, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logoImg {
    margin-top: 53px;
}
