.main {
  color: #000000;
  width: 100vw;
  flex-shrink: 0;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: 91px;
  flex-shrink: 0;
  border-bottom: 1px solid #c4c4c4;
  background: #ffffff;
  backdrop-filter: blur(2px);
  width: 100%;
}

.header_left {
  margin-right: auto;
}

.section {
  flex: 1;
  display: flex;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section::before {
  content: '';
  position: absolute;
  width:1455px;
  height: 601px;
  border-radius: 0 0 0 200px;
  background: linear-gradient(264deg, #edf9f7 3.98%, #f1f5ff 98.44%);
  top: 0;
  left: 66%;
  transform: translateX(-50%);
  z-index: -1;
}

.content {
  width: 100vw;
  height: 1336px;
  flex-grow: 1;
}

.footer {
  margin-top: 55px;
  padding-top: 5px;
  width: 100vw;
  height: 324px;
  flex-shrink: 0;
  background: #363636;
  overflow-y: hidden;
}

.logoImg,
.logoText,
.email,
.github,
.copyright {
  margin-left: 135px;
  color: #ffffff;
  font-family: 'Noto Sans KR', serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.logoImg {
  width: 183px;
  height: 55px;
  flex-shrink: 0;
  margin-top: 40px;
  margin-left: 125px;
}

.logoText {
  font-size: 35px;
  font-family: 'Noto Sans KR', serif;
  font-weight: 500;
  flex-shrink: 0;
  color: #ffffff;
  margin-top: 0;
}
