.main {
    width: 1920px;
    flex-shrink: 0;
    border-bottom: 1px solid #C4C4C4;
    background: #FFF;
    backdrop-filter: blur(2px);
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(180deg, #FFF 33.5%, rgba(156, 201, 200, 0.65) 100%);
}
.header {
    width: 1920px;
    height: 91px;
    flex-shrink: 0;
    border-bottom: 1px solid #C4C4C4;
    background: #FFF;
    backdrop-filter: blur(2px);
}

.header_left {
    float: left;
}

.section {
    flex: 1;
    display: flex;
}

.content {
    width: 100%;
}

.footer {
    height: 324px;
    flex-shrink: 0;
    background: #363636;
}

.email,.github,.copyright {
    color: #FFF;
    font-family: Noto Sans KR, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
