.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1600px) {
    .loading {
        height: 14px;
    }
    .spinner {
        width: 14px;
        height: 14px;
        border-width: 14px;
    }
}

@media screen and (max-width: 1280px) {
    .loading {
        height: 12px;
    }
    .spinner {
        width: 12px;
        height: 12px;
        border-width: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .loading {
        height: 10px;
    }
    .spinner {
        width: 10px;
        height: 10px;
        border-width: 10px;
    }
}

@media screen and (max-width: 768px) {
    .loading {
        height: 8px;
    }
    .spinner {
        width: 8px;
        height: 8px;
        border-width: 8px;
    }
}

@media screen and (max-width: 480px) {
    .loading {
        height: 6px;
    }
    .spinner {
        width: 6px;
        height: 6px;
        border-width: 6px;
    }
}

@media screen and (max-width: 320px) {
    .loading {
        height: 4px;
    }
    .spinner {
        width: 4px;
        height: 4px;
        border-width: 4px;
    }
}
