
.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.banner {
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
}

.banner img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.buttonContainer {
    display: flex;
    gap: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}
