.onBoard {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  position: relative;
}

.onBoardingTop {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.onBoardingImg {
  width: 100vw;
  height: 550px;
  display: inline-block;
  object-fit: cover;
  margin: 0;
}

.onBoardingExplainDiv,
.onBoardingExplainP {
  color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
  position: absolute;
  left: 5%;
  transform: translateY(-50%);
  text-align: left;
  z-index: 1;
}

.onBoardingExplainDiv {
  font-size: 37px;
  font-weight: 800;
  margin-top:-360px;
  margin-left:200px;
}

.onBoardingExplainP {
  bottom:85px;
  font-size: 25px;
  font-weight: 500;
  margin-left:200px;
}

.onBoardingView {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onBoardingSearch {
  width: 100%;
  max-width: 1025px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 20px;
  border: none;
  background: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top:1%;
  margin-left: 10%;
}

.filterSelect {
  border: none;
  background-color: transparent;
  padding: 8px 16px;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.searchInput {
  flex: 1;
  padding: 8px 16px;
  font-size: 16px;
  color: #333;
  border: none;
  outline: none;
}

.searchInput::placeholder {
  color: #aaa;
}

.searchButton {
  width: 71px;
  height: 51px;
  flex-shrink: 0;
  background: linear-gradient(313deg, #004a55 1.45%, #ccead5 98.55%);
  margin-right: 20px;
  border: none;
  border-radius: 10px;
}

.viewBtn {
  background: rgba(255, 255, 255, 0.75);
  width: 350px;
  height: 219px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.goLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000000;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 37px;
}

.goLink:hover {
  background-color: #333;
}

.time,
.travel {
  margin-left: 160px;
  object-fit: cover;
  margin-bottom: 10px;
}

.viewBtnSchedule, .viewBtnTravel {
  width: 345px;
  height: 237px;
  display: flex;
  flex-direction: column;
  border-radius: 30px 0px;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.viewBtnSchedule:hover {
  background: #76ADAC;
  color: #f5f5f5;
}

.viewBtnTravel:hover {
  background: #74A5DA;
  color: #f5f5f5;
}

.viewBtnSchedule:hover .iconContainer img,
.viewBtnTravel:hover .iconContainer img {
  filter: brightness(0) invert(1);
}

.viewBtnSchedule:hover .goLink img,
.viewBtnTravel:hover .goLink img {
  filter: none !important;
}

.viewBtnSchedule:hover .viewTitle,
.viewBtnTravel:hover .viewTitle {
  color: #f5f5f5 !important;
  transition: color 0.3s ease;
}

.viewTitleSmall {
  margin-left:40px;
  font-size: 16px;
  line-height:20px;
  width: 250px;
  height:70px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top:-80px;
  margin-left: 50%;
}

.onBoardingShow {
  margin-left: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.recommendedDestinations {
  width:1366px;
  text-align: left;
  margin-top: 76px;
  margin-left: 12%;
}

.chooseRecomend {
  margin-left: 50px;
  color: #000;
  font-size: 2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 20px;
}

.onBoardChips {
  margin-left:42px;
}

.onBoardNoChooseBtn,
.onBoardChooseBtn {
  width: 90px;
  height: 38px;
  border-radius: 40px;
  border: none;
  background: #e8e8e8;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.onBoardChooseBtn {
  background: #a7cdcc;
  color: #ffffff;
}

.onBoardChooseBtn:hover,
.onBoardNoChooseBtn:hover {
  background-color: #d0d0d0;
}

.imgSliderContainer {
  margin-top: 39px;
  flex: 1;
  width:295px;
  height:351px;
  border-radius: 0 0 30px 0;
  background: #ffffff;
  text-align: center;
  margin-left: 40px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sliderImg {
  object-fit: contain;
  border-radius: 30px 0 0 0;
}

.noImage {
  position: relative;
  width: 295px;
  height:203px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #e0e0e0;
  border: 1px dashed #ccc;
  color: #888;
  font-size: 18px;
}

.sliderTextP {
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  text-align: left;
  margin-left: 30px;
}

.sliderTextPDetail {
  color: #848282;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-top: 5px;
  text-align: left;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.sliderTextPDetail img {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  cursor: grab;
  flex-wrap: wrap;
}

.sliderContainer:active {
  cursor: grabbing;
}

.sliderButton {
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  padding: 10px 20px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.sliderButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.imgSliderExplain {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.onBoardingContent {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.onBoardingText {
  flex: 1;
  text-align: left;
  color: #ffffff;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.viewTitle {
  margin-top:15px;
  margin-left: 41px;
  color: #555;
  font-family:
    Noto Sans KR,
    sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.viewTitle:hover {
  color: #f0f2f5;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homepageSearchLayout {
  width: 1297px;
  height: 102px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 15%;
}

.onBoardingButtonLayout {
  width: 1610px;
  height: 382px;
  flex-shrink: 0;
  border-radius: 0px 0px 100px 0px;
  background: #F7F8FB;
  margin-top: 156px;
  margin-left: -290px;
}

.textContent {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 505;
  line-height: 60px; /* 230.769% */
  letter-spacing: 1.3px;
  margin-top: 50px;
}

.textSchedule, .textEtc {
  width: 51px;
  height: 30px;
  flex-shrink: 0;
  margin-left:270px;
}

.textSchedule {
  background: rgba(150, 200, 199, 0.50);
}

.textTravel {
  width: 78px;
  height: 30px;
  flex-shrink: 0;
  background: rgba(158, 199, 244, 0.50);
  margin-left:10px;
}

.noData {
  margin-top: 30px;
  margin-left:44px;
  height:353px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  text-align: center;
  align-content: center;
  color:#f0f2f5;
  background-color : #555;
}
